body{
    margin: 0;
}
#canvas{
    background: #cccccc;
    vertical-align: top;/*解决了一个bug，该bug导致在手机端的下面会多出来一小部分无用的区域*/
}
.actions{
    position: fixed;
    left: 0;
    bottom: 0;
}
.actions > #brush{
    display: none;
}
.actions.x >#brush{
    display: inline-block;
}
.actions.x >#eraser{
    display: none;
}
