body{
    margin: 0;
}
#canvas{
    background: #cccccc;
}
.actions{
    position: fixed;
    left: 0;
    bottom: 0;
}
.actions > #brush{
    display: none;
}
.actions.x >#brush{
    display: inline-block;
}
.actions.x >#eraser{
    display: none;
}
